.idea/
_backend/
_frontend/
_helper_tools/
.idea/*
_backend/*
_frontend/*
_backend/*/*
_frontend/*/*
_helper_tools/*
.env
.venv/
.env/
venv/
env/
*pyc
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/