version: "3.9"

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d app"]
      interval: 5s
      timeout: 3s
      retries: 20

  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgresql+psycopg2://app:app@db:5432/app
      APP_ENV: docker
      COOKIE_SECURE: "0"
      # Set to 1 behind HTTPS
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ./frontend
    depends_on:
      - backend

  proxy:
    build: ./proxy
    ports:
      - "0.0.0.0:8082:80"
    depends_on:
      - backend
      - frontend

#volumes:
#  project_data:
